<div align="center" style="margin-top: 100px" >
  <table cellpadding="10">
    <tr>
      <th><strong><h3 style="color:skyblue;"> Survey Question</h3></strong></th>
    </tr>
    <tr>
      <td>
        <form method="post" action="/create" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" style="color:skyblue;" for="inputEmail">Question</label>
            <div class="controls"  >
              <input type="text" name="question" placeholder="Question..." style="width:322px;"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" style="color:skyblue;" for="inputProduct Category">Options:</label>
            <div class="controls">
              <textarea name="options" placeholder="comments..."  rows="5" style="width: 326px;"></textarea>
            </div>
          </div>



          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-info" >Create Question</button>
              <a href="/editques" class="btn btn-info">Edit/Viewquerylist</a>
              <button type="reset" class="btn btn-info">Cancel</button>

            </div>
          </div>
        </form>
      </td>
    </tr>


  </table>


</div>
