
<h1>Admin Entry</h1>
<body bgcolor="#0099FF">
<form method="post" action="/check">
<div class="control-group">
  <label class="control-label">Email address</label>
  <div class="controls">
    <input type="text" name="email" placeholder="Enter your Email address...">
  </div>
</div>
</br>

<div class="control-group">
  <label class="control-label">Password</label>
  <div class="controls">
    <input type="password" name="password" placeholder="Enter your Password...">
  </div>
</div>
</br>
</br>
</br>
<button class="btn" type="submit">Enter..</button>
<button class="btn" type="reset" >Reset</button>
</form>