<div style="margin-top: 100px;" align="center">
  <table>
    <tr>
      <td>
        <form method="post" action="/check">
          <fieldset>
            <legend style="color:skyblue;">Login</legend>
            <label style="color:skyblue;">Email address</label>
            <input type="text" placeholder="Enter your Email address..." name="email">
            <label style="color:skyblue;">Password</label>
            <input type="text" placeholder="Enter your Password..." name="password">
            <label class="checkbox">

            </label>
            <button type="submit" class="btn btn-info">Login</button>
            <button type="reset" class="btn btn-info">Cancel</button><br>
          </fieldset>
        </form>
      </td>
    </tr>
  </table>
</div>
























