
<form method="post" action="/addques">
  <table  cellpadding="5" class="table table-striped table-hover ">
    <th style="color:skyblue;">
      Questions
    </th >

    <th style="color:skyblue;">
      Options
    </th>

    <th style="color:skyblue;">
      Edit Survey Questions
    </th>

    <% @ques.each do |q|%>
        <tr>
          <td><%= q.question%></td>
          <td><%= q.options%></td>
          <td><a href="/edit?q_id=<%= q.id%>" class="btn btn-info">Edit</a>&nbsp;<a href="/delete?q_id=<%= q.id%>" class="btn btn-info">Delete</a></td>
        </tr>
    <% end %>
  </table>
  <td><input type="submit" value="Create Question" class="btn btn-info"/></td>
  <td><a href="/adminview" class="btn btn-info"/>View Results></td>
</form>