<body bgcolor="#0099FF">
<form method="post" action="/update">
<table>
	<tr>
		<td>
			<h2>Edit Survey Question</h2>
		</td>
	</tr>
	<tr>
		<td>Question</td>
		<td><input type="text" name="question" value="<%= @question_value%>"/></td>
	</tr>
	<tr>
		<td>Options</td>
		<td><textarea name="options" rows="5"><%= @option%></textarea></td>
	</tr>
	<tr>
		<td><input type="submit" value="Update"/></td>
		<td><input type="reset" value="Cancel"/></td>	
		<td><input type="hidden" value="<%= @ques_id%>" name="q_id"/></td>
	</tr>
</table>

</form>